<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset= "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="style.css" >
    <script src="C:\Users\user\Documents\webdev\vue\vue.js"></script>
    <link href="C:\Users\user\Documents\fontawesome-free-5.14.0-web\fontawesome-free-5.14.0-web\css\all.css" type="text/css" rel="stylesheet"/>
    <title> Title </title>
</head>
<body>

    <header>
        <!-- <div class="logo">
            <h3 class="logo-main">RANDOMIZE</h3>
        </div> -->
        <randomized :text='displayText'>{{animate}}</randomized>
    </header>
    <div class="container">
        <div id="main">
            <p class="guide">Enter a list of names,words or phrase, 
                <span class="important">Seprated by commas</span>
            in any order to randomly select a specified number of items 
            from the list, you can also enter a list of roles to randomly
            attach to each item (leave empty for default).</p>
        
            <textarea class="user-list-names" v-model="itemList" 
           @input="getArr()" :placeholder="nameListph"></textarea>
            <div class="return-num">Return <input type="number" v-model="numItems" > item(s).
            <p class="important">(leave 
                empty to randomize all.)</p></div>
            <textarea class="user-list-roles" v-model="roleList" 
            @input="getArr()" placeholder="Input list of roles here ..."></textarea>
            <br/><button @click="assign()" 
            class="randomize-btn">Randomize</button>

            <div class="randomized" :class="displayResult">
                <div type="button" 
                @click="displayResult='slide-up'" class="exit">
                    <div></div>
                </div>
                <div class="result">
                    <p class="error">{{error}}</p>
                    <table v-for='(item,role) in result'>
                        <tr><td>{{role}}</td> 
                            <td class="name">{{item}}</td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="dice-coin">
            <h3 class="roll-dice" @click="toggle()">
                Roll dice</h3>
            <div class="content" :class={rolling} @click="rollDice()">
                <img :src="'dice/dice'+dice+'.jpg'" class="dice">
            </div>
            
            <h3 class="spin-coin" @click="toggle()">
                spin a coin </h3>
                <div class="content" :class={spining} @click="spinCoin()" >
                    <img :src="'coin/coin'+coin+'.png'" class="dice">
                    <div class="outcome">{{coinOutcome}}</div>
                </div>
        </div>

    </div>
    <script src="app.js"></script>
</body>
</html>